*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ebebed;
}






/*COMPONENTS*/

/*PRODUCT CARD*/
.products-components{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}



/*PRODUCT CARD*/
.btn-add-cart{
  font-size: 1.4rem;
  background-color: transparent;
  display: none;
}
.btn-add-cart:hover {
  background-color: #ebebed;
}
.btn-add-cart-hover:hover {
  box-shadow: 5px 10px 5px #2222220e;
}
.btn-add-cart-hover:hover .btn-add-cart{
  display: flex;
}


/*LOADING*/
.loading{
  font-size: 2.5rem;
  width: 100%;
  margin: 150px auto;
  animation: spinner 2.5s infinite linear;
}
@keyframes spinner {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

/*CART ITEMS*/
.btn-cart-remove{background-color: transparent; z-index: 10; }
.btn-cart-remove:hover{background-color: #ebebed ;}
